.line {
  margin-left: 0%; /* Расстояние от левого края до линии */
  margin-right: 0%; /* Расстояние от левого края до линии */
}

.texter {
  margin-left: 7%; /* Расстояние от левого края до линии */
  margin-right: 7%; /* Расстояние от левого края до линии */
}